#quiz,
#finish,
#correct,
#inCorrect {
    display: none;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/Wave-100s-1366px\ \(2\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}

.text-spec {
    color: #653383
}

.bg-spec {
    background-color: #653383
}

button {
    cursor: pointer;
    background-color: #653383 !important;
}

.alert {
    display: none;
}